* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

th {
	font-size: 5vh;
}

body {
	background-color: #000F;
}

div {
	background-color: #DDDF;
	width: 100vw;
	display: flex;
	justiofy-content: center;
	align-items: center;
	align-content: center;
}

#info {
	font-size: 3vh;
	color: red;
}

p {
	font-size: 3vh;
}

span {
	font-size: 3vh;
}

#train {			
	background-color: black;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 3vh;
	transition-duration: 0.4s;
}

#train:hover {
	background-color: #FFFF;
	color: black;
}

#recognize {
	background-color: black;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 3vh;
	transition-duration: 0.4s;
}

#recognize:hover {
	background-color: #FFFF;
	color: black;
}

#result {
	font-size: 5vh;
	color: red;
}
